:root,:after, :before {
	--bs-primary: #172848;
}

.mavblack {
	font-weight: 900;
}

.mavsbold {
	font-weight: 800;
}

.mavbold, b, strong {
	font-weight: 700;
}

.mavmed {
	font-weight: 600;
}

.mavnor {
	font-weight: 500;
}

.mavreg {
	font-weight: 400;
}

body,
html {
	font-family: 'Maven Pro', sans-serif;
	font-display: fallback;
	font-weight: 300;
	letter-spacing: initial;
	padding: 0px;
	margin: 0px;
	line-height: 1.5;
	font-size: 14px;
	color: #333;
	scroll-behavior: smooth;
	background-color: #f9f9f9;
}

a,
a:visited,
a:focus {
	display: inline-block;
	outline: none;
	transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
	font-weight: 400;
}

a:hover {
	color: #222222;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4;
	font-family: 'Maven Pro', sans-serif;
	margin: 0 0 1rem
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 23px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

body :is(h1, h2, h3, h4, h5, h6) {
	font-weight: 600;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

main.margin-top {
	margin-top: 6rem;
}

.material-symbols-rounded{
    line-height: normal;
    vertical-align: middle;
    font-size: 22px;
}

.btn {
	font-weight: 500;
	font-size: 12px;
}

.btn-rounded {
	border-radius: 50px;
	padding: 12px 25px;
	line-height: normal;
	font-size: 13px;
}

.btn-rounded.btn-sm {
	padding: 8px 25px;
	font-size: 12px;
}

.btn-primary,
.btn-primary:is(:hover, :focus) {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}

.btn-rounded.btn-primary:is(:hover, :focus) {
	background-color: transparent;
	color: var(--bs-primary);
}

.btn-rounded.btn-primary:focus {
	box-shadow: 0 0 0 0.25rem #17284826;
}

/*  */
#logo {
	font-family: 'Orbitron', sans-serif;
	font-weight: 800;
	color: #fff;
	font-size: 20px;
}

#tsparticles {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 0;
}

.bg-green-shades {
	background: linear-gradient(137deg, #0bc16d 23.45%, #09c3cd 148.82%);
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0px;
	z-index: 99;
	transition: all ease-in 0.3s;
}

header li > a{
    font-weight: 500;
}
/* Main */
header nav > ul > li > a.nav-link {
    color: #fff;
}
header nav > ul > li > a.nav-link:is(:hover, :focus), .sub-menu li a:hover{
	color: #ffaa50;
}

header nav ul li{
    position: relative;
}

header nav ul li .sub-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    border-radius: 10px;
    min-width: 160px;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 5px;
}
header #logo{
	color: var(--bs-white);
}

header.bg-light nav > ul > li > a, header.bg-light #logo{
	color: var(--bs-primary);
}

.sub-menu::before {
	content: '';
	position: absolute;
	top: -20px;
	right: 50%;
	border: 10px solid transparent;
	border-bottom: 10px solid #fff;
}

.sub-menu li a{
    display: block;
    color: var(--bs-primary);
    padding: 5px 15px;
    text-decoration: none;
}

header nav ul li:hover > .sub-menu{
    display: block;
	box-shadow: 0px 5px 20px -8px #00000070;
}

/* nav ul li:before {
	position: absolute;
	bottom: 0px;
	height: 1px;
	background-color: #fff;
	content: '';
	display: block;
	clear: both;
	width: 0;
	transition: all linear 0.3s;
}
nav ul li ul li:before{
	background-color: var(--bs-primary);
} */


nav ul li:hover:before{
	width: 100%;
}



/* header end */


.title {
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--bs-primary);
}


.subtitle {
	font-size: 24px;
	font-weight: 600;
	color: var(--bs-primary);
}

p {
	color: #5b5b7a;
}

.padd-plock {
	padding-block: 10rem;
}

.padd-plock-sm {
	padding-block: 6rem;
}

.parallax-mirror {
	z-index: 0 !important;
}

/*  */
.home-banner {
	height: 100vh;
	position: relative;
	z-index: 1;
}

.home-banner .banner-wave {
	position: absolute;
	bottom: 0px;
	z-index: -1;
	display: none;
}

.insurance-banner {
	background: linear-gradient(121deg, #2a044691 0%, #1028585e 100%), url('../images/insurance.png') no-repeat center;
	background-size: cover;
	color: #fff;
}

/* contact */
.contact .info .material-symbols-rounded {
	font-size: 20px;
	color: var(--bs-primary);
	float: left;
	width: 44px;
	height: 44px;
	background: #f5f2fa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.contact .info :is(.email:hover, .address:hover, .phone:hover) .material-symbols-rounded {
	background: var(--bs-primary);
	color: #fff;
}

.contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #37517e;
}

.contact .info p {
	padding: 0 0 10px 60px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #6182ba;
}

.contact .info,
.php-email-form {
    border: 1px solid #ddd;
    border-top: 3px solid var(--bs-primary);
    border-bottom: 3px solid var(--bs-primary);
    padding: 2rem;
    background: #fff;
    width: 100%;
    height: 100%;
	/* border-radius: 10px; */
	/* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1); */
}
.contact .form-group{
	margin-bottom: 1rem;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
	box-shadow: none;
	border-radius: 5px;
	min-height: 40px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
	border-color: var(--bs-primary);
}

/* end contact */
.noScroll {
	overflow: hidden;
}

.main {
	width: 100%;
	height: 100vh;
}


.main > section {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--bs-white);
	display: flex;
	justify-content: center;
	align-items: center;
    /* top: 0px !important; */
	padding: 6rem 0 2rem;
    transition: all linear 0.5s;
}

/* .ui-page-scrolling-section.ui-page-scrolling-section_active ~ section{
    top: 100% !important;
} */

.ui-page-scrolling-main {
	position: relative;
	/* -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d; */
}

.page-control {
	/* right: 50px; */
	left: 3%;
	top: 50%;
	transform: translateY(-50%);
	list-style: none;
	position: fixed;
	z-index: 99;
}

.page-control__item {
    margin-top: 20px;
    padding-right: 10px;
    color: var(--bs-primary);
    font-weight: 600;
    padding-inline: 10px;
    cursor: pointer;
    position: relative;
    writing-mode: vertical-rl;
}


.ui-page-scrolling-control_active::after {
	position: absolute;
	right: 0px;
	content: '';
	clear: both;
	display: block;
	bottom: 0;
	height: 100%;
	width: 5px;
	background-color: var(--bs-primary);
	border-radius: 10px;
    box-shadow: 0px 0px 5px;
}

.ui-page-scrolling-section.ui-page-scrolling-section_active.indicate-white ~ .page-control .page-control__item {
	color: var(--bs-white);
}
.ui-page-scrolling-section.ui-page-scrolling-section_active.indicate-white ~ .page-control .ui-page-scrolling-control_active::after {
	background-color: var(--bs-white);
}
#pageDown{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 99;
	height: 50px;
	width: 50px;
	border-radius: 50px;
}



/* about us page */

  
.about-section .content ul li:not(:last-child), .banking-section .content ul li:not(:last-child){
	padding-bottom: 10px;
}
  
.about-section .content ul li .material-symbols-rounded, .banking-section .content ul li .material-symbols-rounded {
	padding-right: 4px;
	color: var(--bs-teal);
}
  
.counts .count-box {
	box-shadow: -20px 10px 30px 4px rgb(0 0 0 / 10%);
	padding: 2rem;
}

.counts .count-box .material-symbols-rounded {
	display: block;
	font-size: 40px;
	color: var(--bs-teal);
	float: left;
}

.counts .count-box .purecounter {
	font-size: 42px;
	line-height: normal;
	display: block;
	font-weight: 700;
	color: #555555;
	margin-left: 100px;
}

.counts .count-box p {
	padding: 1.4rem 0 0;
}

.counts .count-box a {
	font-weight: 600;
	display: block;
	color: #7b7b7b;
	font-size: 15px;
	transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
	color: var(--bs-teal);
}

/* end about us page */



/* capitalmarket */



.services .icon-box {
	margin-bottom: 20px;
	text-align: center;
}

.services .icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	margin-bottom: 1rem;
	background: #fff;
	border-radius: 50%;
	transition: 0.5s;
	color: #3fbbc0;
	box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon-box:hover .icon {
	box-shadow: 0px 0 25px rgba(63, 187, 192, 0.3);
}

.services .subtitle {
	margin-bottom: 10px;
	font-size: 18px;
	position: relative;
	padding-bottom: 10px;
}

.services .subtitle::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 2px;
	background: var(--bs-teal);
	bottom: 0;
	left: calc(50% - 25px);
}
  
  
  /* end */


/* tecnology */





.features .icon-box .subtitle {
	font-size: 20px;
	margin: 5px 0 10px 60px;
}

.features .icon-box span {
	font-size: 40px;
	float: left;
	color: var(--bs-teal);
}

.features .icon-box p {
	margin-left: 60px;
}




/* footer */
footer .footer-links a {
	text-decoration: none;
	padding: 3px;
	color: #9f9aa5;
	transition: all linear 0.3s;
}

footer .footer-links a:hover {
	color: var(--bs-primary);
	padding-left: 0.5rem;
}

.footer-links h4 {
	font-size: 18px;
	color: var(--bs-primary);
}

/* end footer */

